@using JobEntryy.Application.ViewModels
@model List<CompanyVM>

<a asp-action="Index" class="btn btn-secondary">Bütün Şirkətlər</a>


<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <p>Şirkətlər - @ViewBag.CompanyCount ədəd</p>
        <div>
            <form method="get">
                <input type="search" name="search" />
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Şəkil</th>
                        <th>Şirkət adı</th>
                        <th>İstifadəçi adı</th>
                        <th>Email</th>
                        <th>Tarix</th>
                        <th>Vakansiya sayı</th>
                        <th>Premium</th>
                        <th>Status</th>
                        <th style="text-align:right">Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CompanyVM item in Model)
                    {
                        <tr>
                            <td><img src="~/assets/img/company/@item.Image" class="w-px-40 h-auto rounded-circle"></td>
                            <td>@item.Name</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.Created</td>
                            <td>@item.JobsCount vakansiya</td>
                            <td>
                                @if (item.IsPremium)
                                {
                                    <span style="padding:6px 4px; background-color:green; color:white;">Premium</span>
                                }
                                else
                                {
                                    <span style="padding:6px 4px; background-color:red; color:white;">Premium deyil</span>
                                }
                            </td>
                            <td>
                                @if (item.Status)
                                {
                                    <span style="padding:6px 4px; background-color:green; color:white;">Aktiv</span>
                                }
                                else
                                {
                                    <span style="padding:6px 4px; background-color:red; color:white;">Dekativ</span>
                                }
                            </td>
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a asp-controller="Vacancy" asp-action="Index" asp-route-catId="@item.Id" class="btn btn-primary text-white" style="margin-right:10px">Vakansiyalara bax</a>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary  text-white" style="margin-right:10px;"><i class='bx bxs-pencil'></i></a>
                                    <a asp-action="ResetPassword" asp-route-id="@item.Id" class="btn btn-danger text-white" style="margin-right:10px;"><i class='bx bxs-lock-open'></i></a>
                                    <a asp-action="Premium" asp-route-id="@item.Id" class="btn btn-success text-white" style="margin-right:10px;"><i class='bx bxl-product-hunt'></i></a>
                                    <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-warning text-white" style="margin-right:10px;"><i class='bx bx-loader-circle'></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="pagnation my-2">
                    <ul style="list-style:none;display:flex;justify-content:center;">

                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class="page-item  @(i == ViewBag.CurrentPage ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />
