@using JobEntryy.Application.ViewModels
@model CompanyVM
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer﻿

@{
	ViewData["Title"] = Model.Name;
}

@section Css {
    <style>

        .shadow-box {
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
            padding: 8px;
            border-radius: 7px;
        }
    </style>
}


<div class="row">
    <div class="col-12 col-md-8">

        <div class="d-flex align-items-start align-items-sm-center gap-4 my-2">
            <img src="~/assets/img/company/@Model.Image"
                 alt="user-avatar"
                 class="d-block rounded"
                 height="100"
                 width="100"
                 id="uploadedAvatar" />
        </div>

        <div>
            <h4>
                @Model.Name
                @if (Model.IsPremium)
                {
                    <div style="display:inline-block;">
                        <span style="font-size:12px;background-color:green;color:white; padding :4px 4px;border-radius:5px;margin-top:0px;">Premium</span>
                    </div>
                }
            </h4>
        </div>

        <hr />
        @if (Model.JobsCount != 0)
        {
            <div>
                <a class="btn btn-success text-white" asp-controller="Companies" asp-action="CompanyVacancies" asp-route-username="@Model.UserName">@localizer["Vakansiyalar"]</a>
            </div>
            <hr />
        }

        <div class="col-md-10" style="margin-bottom:25px;">

            <div>
                <p>
                    <strong> @localizer["Şirkət Haqqında"]</strong><br />
                    @Html.Raw(Model.CompanyDescription)
                </p>
            </div>

            @if (Model.Address is not null)
            {
                <div>
                    <p>
                        <strong>@localizer["Ünvan"]</strong><br />
                        @Model.Address
                    </p>
                </div>
            }
            else
            {
            }

            @if (Model.PhoneNumber is not null)
            {
                <div>
                    <p>
                        <strong>@localizer["Əlaqə"]</strong><br />
                        @Model.PhoneNumber
                    </p>
                </div>
            }
            else
            {
            }

            @if (Model.Email is not null)
            {
                <div>
                    <p>
                        <strong>@localizer["Elektron poçt"]</strong><br />
                        @Model.Email
                    </p>
                </div>
            }
            else
            {
            }

            @if (Model.WebUrl is not null)
            {
                <div>
                    <p>
                        <strong>@localizer["VebSayt"]</strong><br />
                        <a href="@Model.WebUrl" target="_blank">@Model.WebUrl</a>
                    </p>
                </div>
            }
            else
            {
            }

        </div>

    </div>

    <!--Banner Start-->
    @await Component.InvokeAsync("Banner")
    <!--Banner Finished-->
  
</div>